/************************************** DESKTOP VIEW ****************************************/
body{
    font-family: arial, serif;
    color: #333;
    text-align: center;
}

/************************************** MOBILE VIEW *****************************************/
@media only screen and (max-width: 600px){



}
